@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --header-color: #eb994b;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1efef;
}

header {
  display: flex;
  background-color: #4b9deb;
  height: 5em;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  margin-right: 14em;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 3em;
}

header nav ul li:hover {
  font-weight: 700;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}

header nav ul li a:hover {
  color: black;
}

nav form {
  display: flex;
  align-items: center;
  margin-left: 3em;
}

nav form input[type="text"] {
  padding: 0.5em;
  border: 1px solid;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
}

nav form button[type="submit"] {
  padding: 0.5em 1em;
  background-color: white;
  color: #4b9deb;
  border: 1px solid;
  border-radius: 4px;
  margin-left: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav form button[type="submit"]:hover {
  background-color: #4b9deb;
  color: white;
}

.logo {
  transform: scale(0.7);
  margin-left: 6.6rem;
  cursor: pointer;
}

.hero {
  background-color: white;
  width: 70vw;
  margin: 0.5em 15em 4em 15em;
  padding: 3em;
  border: 1px solid black;
  border-radius: 0.3em;
}

main {
  h2 {
    color: var(--header-color);
    text-decoration: underline 3px dashed rgba(0, 0, 0, 0.5);
  }

  h4 {
    position: relative;
    padding-left: 1.2em;
    color: #1659a5;
    font-size: 1.1rem;
  }

  h4:before {
    content: ">";
    position: absolute;
    left: 4px;
    top: -2px;
    font-size: 1.2em;
    color: rgb(65, 139, 133);
  }

  li {
    margin-top: 0.5em;
  }
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 1.2em;
  border-radius: 1em;

  h2 {
    margin-left: 0.5em;
  }

  ol {
    margin-top: -1em;
    margin-left: -1em;
    max-width: 350px;
    max-height: 250px;
    overflow: scroll;
    font-size: 0.85rem;

    li h4::before {
      content: "";
    }
  }
}

.dyk {
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 1em;
  border-radius: 1em;
  margin-right: 0.3em;
}

.wrapper {
  position: absolute;
  z-index: 999;
  background: #4b9deb;
  width: 100%;
  height: 100%;
  animation: reveal 1s ease-in forwards;
  transform-origin: bottom;
}

.sideinfo {
  display: flex;
}

footer {
  margin-top: -3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1659a5;
  height: 5em;
  gap: 20em;
  font-size: 1.1rem;
  p {
    color: white;
    text-decoration: none;

    a {
      text-decoration: none;
      color: red;
    }
  }
}

@keyframes reveal {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

main {
  animation: growIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transform: scale(0.4);
}

@keyframes growIn {
  to {
    transform: scale(1);
  }
}
